<div class="row justify-content-md-center" *ngIf="visita">
    <div class="col-md-10">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/visitas">Visitas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalle</li>
            </ol>
        </nav>
        <h1>Detalle de la visita</h1>
        <hr>
        <p><strong>Identificador:</strong> {{ visita.id }}</p>
        <p><strong>Fecha:</strong> {{ visita.fecha | date:'medium' }}</p>
        <hr>
        <h4>Visitante</h4>
        <hr>
        <p>
            <strong>Nombre:</strong> {{ visita.visitanteNavigation.nombre }} {{ visita.visitanteNavigation.apellidoPaterno }} {{ visita.visitanteNavigation.apellidoMaterno }}
        </p>
        <p><strong>Nombre de usuario:</strong> {{visita.visitanteNavigation.username}} </p>
        <p><strong>Edad:</strong> {{visita.visitanteNavigation.edad}} </p>
        <p><strong>Email:</strong> {{visita.visitanteNavigation.email}} </p>
        <p><strong>Teléfono:</strong> {{visita.visitanteNavigation.telefono}} </p>
        <p><strong>Dirección:</strong> {{visita.visitanteNavigation.direccion}} </p>
        <hr>
        <h4>Guía</h4>
        <hr>
        <p>
            <strong>Nombre:</strong> {{ visita.guiaNavigation.nombre }} {{ visita.guiaNavigation.apellidoPaterno }} {{ visita.guiaNavigation.apellidoMaterno }}
        </p>
        <p><strong>Edad:</strong> {{visita.guiaNavigation.edad}} </p>
        <p><strong>Email:</strong> {{visita.guiaNavigation.email}} </p>
        <p><strong>Teléfono:</strong> {{visita.guiaNavigation.telefono}} </p>
        <p><strong>Dirección:</strong> {{visita.guiaNavigation.direccion}} </p>
        <p><strong>Útlimas coordenadas registradas:</strong></p>
        <ul>
            <li><strong>Latitud:</strong> {{ visita.guiaNavigation.lastLat }} </li>
            <li><strong>Longitud:</strong> {{ visita.guiaNavigation.lastLng }} </li>
        </ul>
        <hr>
        <h4>Zona</h4>
        <hr>
        <p><strong>Nombre:</strong> {{visita.zonaNavigation.nombre}} </p>
        <p><strong>Descripción:</strong> {{visita.zonaNavigation.descripcion}} </p>
        <p><strong>Kilómetros cuadrados:</strong> {{visita.zonaNavigation.km2}} </p>
        <hr>
        <h4>Ruta</h4>
        <hr>
        <p><strong>Nombre:</strong> {{visita.rutaNavigation.nombre}} </p>
        <p><strong>Descripción:</strong> {{visita.rutaNavigation.descripcion}} </p>
        <hr>
        <h4>Horario</h4>
        <hr>
        <p><strong>Hora de inicio:</strong> {{visita.horarioNavigation.horaInicio}} </p>
        <p><strong>Hora de termino:</strong> {{visita.horarioNavigation.horaTermino}} </p>
        <p><strong>Día de la semana:</strong> {{visita.horarioNavigation.dia}} </p>
    </div>
</div>